@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,100;1,300;1,400&display=swap");
.total-book-container {
  padding-top: 70px !important;
  padding: 0 7%;
  display: flex;
  flex-direction: column;
  .book-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      font: "Roboto", sans-serif;
    }
    .MuiSelect-outlined.MuiSelect-outlined {
      padding: 7px 26px;
      font-size: 13px;
    }
  }
  .card-books:hover{
    width: 233px;
    margin-right: 24px;
    margin-bottom: 18px;
    box-shadow: 0 0px 3px 0 black, 0 0px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
  }
  .card-books {
    width: 233px;
    margin-right: 24px;
    margin-bottom: 18px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    .makeStyles-root-5 {
      width: 100% !important;
      height: 100% !important;
      min-width: 0 !important;
    }
    .makeStyles-root-13 {
      width: 100% !important;
      height: 100% !important;
      min-width: 0 !important;
    }
  }
}
.allbook-container{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  height: 208px;
  .bookImage{
    width: 147px;
  }
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 9px 16px;
  .book-name {
    font-size: 15px;
    font-weight: 600;
  }
  .author-name {
    font-size: 10px;
    font-weight: 400;
  }
  .price {
    font-size: 16px;
    font-weight: 600;
  }
  .parent-button {
    margin-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .addtobag-button {
      font-weight: 500;
      background: #a03037;
      color: white;
      padding: 5px;
      font-size: 11px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      width: 85px;
      cursor: pointer;
    }
    .addtobag-button-onclick {
      font-weight: 500;
      background: #3071B7;
      color: white;
      padding: 5px;
      font-size: 11px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      width: 100%;
      cursor: pointer;
    }
    .wishlist-button-onclick {
      display: none;
    }
    .wishlist-button {
      font-weight: 500;
      background: lightgray;
      border-color: gray;
      width: 85px;
      padding: 5px;
      font-size: 11px;
      display: flex;
      justify-content: center;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
