.shopping-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 67px;
    margin-left: 6%;
    .cart-text{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .input-search{
      display: none;
    }
  }
  