.content-box-adminlogin {
  width: 58%;
  height: 65%;
  margin-top: 24px;

  .enter-email-p {
    margin-bottom: 10px !important;
    font-size: 13px;
    color: #878787;
  }

  .text-field-forgot-email {
    display: flex;
    flex-direction: column;
    .field-header {
      font-size: 9px;
      font-weight: 700;
    }
  }
  .forgotpassword-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a03037;
    height: 35px;
    border-radius: 3px;
    color: white;
    margin-top: 17px;
    cursor: pointer;
  }
}
.adminlogin{
    width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 28px;
      font-size: 18px;
      font-weight: 600;
      background: #f9f9f8 0% 0% no-repeat padding-box;
      border: 1px solid #e4e4e4;
      border-radius: 0px 0px 6px 6px;
      color: black;
}